<script>
	import { mutation } from '@urql/svelte';
	import { goto } from '$app/navigation';
	let email, password;
	const mutatePasswordReset = mutation({
		query: `
        mutation($email:String!,$password:String!){
            passwordReset(input:{email:$email,password:$password})
        }
        `
	});
	let passwordResetLoader = false;
	let passwordResetSuccess = true;
	const passwordReset = () => {
		passwordResetLoader = true;
		mutatePasswordReset({ email, password }).then((result) => {
			if (result.data) {
				if (result.data !== null && result.data.passwordReset) {
					passwordResetSuccess = true;
					passwordResetLoader = false;
					goto('/auth/login');
				} else {
					passwordResetSuccess = false;
					passwordResetLoader = false;
				}
			}
			if (result.error) {
				passwordResetSuccess = false;
				passwordResetLoader = false;
			}
		});
	};
</script>

<svelte:head><title>Aries | Password Reset</title></svelte:head>
<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
	<div class="sm:mx-auto sm:w-full sm:max-w-md">
		<h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Reset your pasword</h2>
	</div>

	<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
		<div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
			<form on:submit|preventDefault={passwordReset} role="form" class="space-y-6" action="#" method="POST">
				<div>
					<label for="email" class="block text-sm font-medium text-gray-700"> Email address </label>
					<div class="mt-1">
						<input
							id="email"
							name="email"
							type="email"
							autocomplete="email"
							required
							class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            bind:value={email}
						/>
					</div>
				</div>

				<div>
					<label for="password" class="block text-sm font-medium text-gray-700">
						New Password
					</label>
					<div class="mt-1">
						<input
							id="password"
							name="password"
							type="password"
							autocomplete="current-password"
							required
							class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            bind:value={password}
						/>
					</div>
				</div>

				<div>
					<label for="password" class="block text-sm font-medium text-gray-700"
						>Confirm New Password
					</label>
					<div class="mt-1">
						<input
							id="password"
							name="password"
							type="password"
							autocomplete="current-password"
							required
							class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
						/>
					</div>
				</div>

				<div>
					<button
						type="submit"
						class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
					>
						Reset Password
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
