<script>
	import { mutation } from '@urql/svelte';
	let name, email, password, confirmPassword;

	let passwordMatch;
	$: if (confirmPassword !== undefined && confirmPassword !== password) passwordMatch = false;
	else passwordMatch = true;
	const mutateRegister = mutation({
		query: `
        mutation($name:String!,$email:String!,$password:String!){
            createUser(input:{name:$name,email:$email,password:$password}){
				id
				name
				email
				authToken
			}
        }
        `
	});
	let registerLoader = false;
	let registerSuccess = true;
	const register = () => {
		registerLoader = true;
		mutateRegister({ name, email, password }).then((result) => {
			if (result.data || result.error) {
				registerSuccess = true;
				registerLoader = false;
			}
			if (result.error) {
				registerSuccess = false;
			}
		});
	};
</script>

<svelte:head>
	<title>Aries | Register</title>
</svelte:head>
<div class="flex items-center justify-center min-h-screen bg-gray-100">
	<div class="px-8 py-6 mx-4 mt-4 text-left bg-white shadow-lg md:w-1/3 lg:w-1/3 sm:w-1/3">
		<h3 class="text-2xl font-bold text-center">Join us</h3>
		<form on:submit|preventDefault={register} role="form">
			<div class="mt-4">
				<div>
					<label class="block" for="Name"
						>Name<label>
							<input
								type="text"
								placeholder="Name"
								class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
								bind:value={name}
							/>
						</label>
					</label>
				</div>
				<div class="mt-4">
					<label class="block" for="Email"
						>Email<label>
							<input
								type="text"
								placeholder="Email"
								class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
								bind:value={email}
							/>
						</label></label
					>
				</div>
				<div class="mt-4">
					<label class="block" for="Password"
						>Password<label>
							<input
								id="password"
								type="password"
								placeholder="Password"
								class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
								bind:value={password}
							/>
						</label></label
					>
				</div>
				<div class="mt-4">
					<label class="block" for="Confirm Password"
						>Confirm Password<label>
							<input
								type="password"
								placeholder="Confirm Password"
								class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
								bind:value={confirmPassword}
							/>
						</label></label
					>
				</div>
				<span class="text-xs text-red-400">Password must be same!</span>
				<div class="flex">
					<button
						type="submit"
						class="w-full flex items-center justify-center flex-nowrap px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900 disabled:opacity-30"
						disabled={!name || !email || !password || !confirmPassword}
					>
						<svg
							class:hidden={!registerLoader}
							class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
						>
							<circle
								class="opacity-25"
								cx="12"
								cy="12"
								r="10"
								stroke="currentColor"
								stroke-width="4"
							/>
							<path
								class="opacity-75"
								fill="currentColor"
								d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
							/>
						</svg>
						{#if registerLoader}
							Signing Up
						{:else}
							Create Account
						{/if}</button
					>
				</div>
				<div class="mt-6 text-grey-dark">
					Already have an account?
					<a class="text-blue-600 hover:underline" href="/"> Log in </a>
				</div>
			</div>
		</form>
	</div>
</div>
