<script>
	import { initClient } from '@urql/svelte';
	import Header from '../components/header.svelte';
	import Footer from '../components/footer.svelte';

	initClient({
		url: 'http://localhost:8080/query'
	});
</script>

<Header />
<main class="px-6 flex-1">
	<slot />
</main>
<Footer />

<style global lang="postcss">
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
</style>
