<script context="module">
    export async function load({session}){
        const {user}=session;
        if(user){
            return user   
        }
        else{
            console.log(" Not logged in")
            return {
                status:302,
                redirect: '/auth/login'
            }
        }
    }
</script>

<script>
    import {session} from '$app/stores'
    // async function logoutt(){
    //     logout();
    //     $session.user=null;
    // }
</script>
<h1>Test</h1>
<!-- <button on:click={logoutt}>Logout -->
<!-- </button> -->