/* Injects Tailwind's base styles & any base styles registered by plugins. */
/* ! tailwindcss v2.2.16 | MIT License | https://tailwindcss.com */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
	box-sizing: border-box;
}
/**
Use a more readable tab size (opinionated).
*/
html {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}
/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}
/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
	margin: 0;
}
/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}
/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}
/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}
/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
	font-weight: bolder;
}
/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}
/**
Add the correct font size in all browsers.
*/
small {
	font-size: 80%;
}
/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}
/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}
/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
	text-transform: none;
}
/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}
/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
	outline: 1px dotted ButtonText;
}
/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
	box-shadow: none;
}
/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
	padding: 0;
}
/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
	vertical-align: baseline;
}
/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}
/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}
/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
	-webkit-appearance: none;
}
/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}
/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
	display: list-item;
}
/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */
/**
 * Removes the default spacing and border for appropriate elements.
 */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
button {
  background-color: transparent;
  background-image: none;
}
fieldset {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/**
 * Tailwind custom reset styles
 */
/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */
html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}
/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */
body {
  font-family: inherit;
  line-height: inherit;
}
/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}
/*
 * Ensure horizontal rules are visible by default
 */
hr {
  border-top-width: 1px;
}
/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */
img {
  border-style: solid;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button,
[role="button"] {
  cursor: pointer;
}
/**
 * Override legacy focus reset from Normalize with modern Firefox focus styles.
 *
 * This is actually an improvement over the new defaults in Firefox in our testing,
 * as it triggers the better focus styles even for links, which still use a dotted
 * outline in Firefox by default.
 */
:-moz-focusring {
	outline: auto;
}
table {
  border-collapse: collapse;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */
a {
  color: inherit;
  text-decoration: inherit;
}
/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}
/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */
pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
/**
 * 1. Make replaced elements `display: block` by default as that's
 *    the behavior you want almost all of the time. Inspired by
 *    CSS Remedy, with `svg` added as well.
 *
 *    https://github.com/mozdevs/cssremedy/issues/14
 * 
 * 2. Add `vertical-align: middle` to align replaced elements more
 *    sensibly by default when overriding `display` by adding a
 *    utility like `inline`.
 *
 *    This can trigger a poorly considered linting error in some
 *    tools but is included by design.
 * 
 *    https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210
 */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}
/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */
img,
video {
  max-width: 100%;
  height: auto;
}
/**
 * Ensure the default browser behavior of the `hidden` attribute.
 */
[hidden] {
  display: none;
}
*, ::before, ::after {
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	--tw-border-opacity: 1;
	border-color: rgba(229, 231, 235, var(--tw-border-opacity));
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(59, 130, 246, 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
}
/* custom CSS goes here */
/* Injects Tailwind's component classes & any component classes registered by plugins. */
/* custom CSS goes here */
/* Injects Tailwind's utility classes & any utility classes registered by plugins. */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.inset-y-0 {
	top: 0px;
	bottom: 0px;
}
.bottom-0 {
	bottom: 0px;
}
.right-0 {
	right: 0px;
}
.top-0 {
	top: 0px;
}
.left-0 {
	left: 0px;
}
.z-0 {
	z-index: 0;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.my-4 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.my-2 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.mx-4 {
	margin-left: 1rem;
	margin-right: 1rem;
}
.mt-1 {
	margin-top: 0.25rem;
}
.mb-10 {
	margin-bottom: 2.5rem;
}
.mb-8 {
	margin-bottom: 2rem;
}
.mb-0 {
	margin-bottom: 0px;
}
.mr-3 {
	margin-right: 0.75rem;
}
.mb-4 {
	margin-bottom: 1rem;
}
.-ml-1 {
	margin-left: -0.25rem;
}
.mr-6 {
	margin-right: 1.5rem;
}
.mr-2 {
	margin-right: 0.5rem;
}
.mt-4 {
	margin-top: 1rem;
}
.mr-4 {
	margin-right: 1rem;
}
.mb-3 {
	margin-bottom: 0.75rem;
}
.mb-5 {
	margin-bottom: 1.25rem;
}
.ml-2 {
	margin-left: 0.5rem;
}
.mb-6 {
	margin-bottom: 1.5rem;
}
.-mt-8 {
	margin-top: -2rem;
}
.-ml-20 {
	margin-left: -5rem;
}
.mb-2 {
	margin-bottom: 0.5rem;
}
.mb-12 {
	margin-bottom: 3rem;
}
.mt-6 {
	margin-top: 1.5rem;
}
.mb-1 {
	margin-bottom: 0.25rem;
}
.mt-2 {
	margin-top: 0.5rem;
}
.mt-8 {
	margin-top: 2rem;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.flex {
	display: flex;
}
.inline-flex {
	display: inline-flex;
}
.grid {
	display: grid;
}
.hidden {
	display: none;
}
.h-5 {
	height: 1.25rem;
}
.h-8 {
	height: 2rem;
}
.h-3 {
	height: 0.75rem;
}
.h-80 {
	height: 20rem;
}
.h-full {
	height: 100%;
}
.h-12 {
	height: 3rem;
}
.h-10 {
	height: 2.5rem;
}
.h-64 {
	height: 16rem;
}
.h-16 {
	height: 4rem;
}
.h-4 {
	height: 1rem;
}
.min-h-screen {
	min-height: 100vh;
}
.min-h-full {
	min-height: 100%;
}
.w-full {
	width: 100%;
}
.w-3\/4 {
	width: 75%;
}
.w-5 {
	width: 1.25rem;
}
.w-8 {
	width: 2rem;
}
.w-3 {
	width: 0.75rem;
}
.w-32 {
	width: 8rem;
}
.w-12 {
	width: 3rem;
}
.w-10 {
	width: 2.5rem;
}
.w-16 {
	width: 4rem;
}
.w-auto {
	width: auto;
}
.w-4 {
	width: 1rem;
}
.max-w-6xl {
	max-width: 72rem;
}
.max-w-xs {
	max-width: 20rem;
}
.max-w-screen-xl {
	max-width: 1280px;
}
.max-w-screen-md {
	max-width: 768px;
}
.max-w-sm {
	max-width: 24rem;
}
.max-w-screen-lg {
	max-width: 1024px;
}
.max-w-xl {
	max-width: 36rem;
}
.max-w-lg {
	max-width: 32rem;
}
.max-w-7xl {
	max-width: 80rem;
}
.max-w-md {
	max-width: 28rem;
}
.flex-1 {
	flex: 1 1 0%;
}
.flex-shrink-0 {
	flex-shrink: 0;
}
.flex-grow {
	flex-grow: 1;
}
.transform {
	transform: var(--tw-transform);
}
@-webkit-keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
.animate-spin {
	-webkit-animation: spin 1s linear infinite;
	        animation: spin 1s linear infinite;
}
.appearance-none {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}
.grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}
.flex-col {
	flex-direction: column;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-nowrap {
	flex-wrap: nowrap;
}
.items-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.gap-5 {
	gap: 1.25rem;
}
.gap-8 {
	gap: 2rem;
}
.space-y-3 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(0.5rem * var(--tw-space-x-reverse));
	margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.space-y-6 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}
.space-y-8 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}
.-space-y-px > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(-1px * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(-1px * var(--tw-space-y-reverse));
}
.self-center {
	align-self: center;
}
.overflow-hidden {
	overflow: hidden;
}
.rounded-lg {
	border-radius: 0.5rem;
}
.rounded-md {
	border-radius: 0.375rem;
}
.rounded {
	border-radius: 0.25rem;
}
.rounded-full {
	border-radius: 9999px;
}
.rounded-none {
	border-radius: 0px;
}
.rounded-t-md {
	border-top-left-radius: 0.375rem;
	border-top-right-radius: 0.375rem;
}
.rounded-b-md {
	border-bottom-right-radius: 0.375rem;
	border-bottom-left-radius: 0.375rem;
}
.border {
	border-width: 1px;
}
.border-t-0 {
	border-top-width: 0px;
}
.border-transparent {
	border-color: transparent;
}
.border-gray-300 {
	--tw-border-opacity: 1;
	border-color: rgba(209, 213, 219, var(--tw-border-opacity));
}
.border-white {
	--tw-border-opacity: 1;
	border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.bg-gray-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}
.bg-indigo-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(224, 231, 255, var(--tw-bg-opacity));
}
.bg-gray-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}
.bg-white {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-purple-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(124, 58, 237, var(--tw-bg-opacity));
}
.bg-purple-500 {
	--tw-bg-opacity: 1;
	background-color: rgba(139, 92, 246, var(--tw-bg-opacity));
}
.bg-red-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(153, 27, 27, var(--tw-bg-opacity));
}
.bg-indigo-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(238, 242, 255, var(--tw-bg-opacity));
}
.bg-indigo-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(79, 70, 229, var(--tw-bg-opacity));
}
.bg-blue-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
}
.bg-gradient-to-br {
	background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}
.from-purple-600 {
	--tw-gradient-from: #7c3aed;
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(124, 58, 237, 0));
}
.via-indigo-500 {
	--tw-gradient-stops: var(--tw-gradient-from), #6366f1, var(--tw-gradient-to, rgba(99, 102, 241, 0));
}
.bg-center {
	background-position: center;
}
.fill-current {
	fill: currentColor;
}
.object-cover {
	-o-object-fit: cover;
	   object-fit: cover;
}
.p-5 {
	padding: 1.25rem;
}
.p-6 {
	padding: 1.5rem;
}
.p-8 {
	padding: 2rem;
}
.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.py-8 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.px-5 {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}
.py-3 {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}
.py-2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.px-3 {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
.px-6 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.py-16 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.py-px {
	padding-top: 1px;
	padding-bottom: 1px;
}
.py-24 {
	padding-top: 6rem;
	padding-bottom: 6rem;
}
.py-6 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.px-8 {
	padding-left: 2rem;
	padding-right: 2rem;
}
.py-12 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.pt-8 {
	padding-top: 2rem;
}
.pt-10 {
	padding-top: 2.5rem;
}
.pt-2 {
	padding-top: 0.5rem;
}
.pb-4 {
	padding-bottom: 1rem;
}
.pr-16 {
	padding-right: 4rem;
}
.pl-3 {
	padding-left: 0.75rem;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.font-sans {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem;
}
.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.text-base {
	font-size: 1rem;
	line-height: 1.5rem;
}
.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}
.text-xl {
	font-size: 1.25rem;
	line-height: 1.75rem;
}
.text-xs {
	font-size: 0.75rem;
	line-height: 1rem;
}
.text-2xl {
	font-size: 1.5rem;
	line-height: 2rem;
}
.text-4xl {
	font-size: 2.25rem;
	line-height: 2.5rem;
}
.font-extrabold {
	font-weight: 800;
}
.font-medium {
	font-weight: 500;
}
.font-light {
	font-weight: 300;
}
.font-semibold {
	font-weight: 600;
}
.font-bold {
	font-weight: 700;
}
.uppercase {
	text-transform: uppercase;
}
.leading-none {
	line-height: 1;
}
.leading-5 {
	line-height: 1.25rem;
}
.leading-tight {
	line-height: 1.25;
}
.tracking-tight {
	letter-spacing: -0.025em;
}
.tracking-wider {
	letter-spacing: 0.05em;
}
.tracking-wide {
	letter-spacing: 0.025em;
}
.text-white {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-indigo-200 {
	--tw-text-opacity: 1;
	color: rgba(199, 210, 254, var(--tw-text-opacity));
}
.text-indigo-700 {
	--tw-text-opacity: 1;
	color: rgba(67, 56, 202, var(--tw-text-opacity));
}
.text-gray-300 {
	--tw-text-opacity: 1;
	color: rgba(209, 213, 219, var(--tw-text-opacity));
}
.text-gray-400 {
	--tw-text-opacity: 1;
	color: rgba(156, 163, 175, var(--tw-text-opacity));
}
.text-gray-700 {
	--tw-text-opacity: 1;
	color: rgba(55, 65, 81, var(--tw-text-opacity));
}
.text-gray-200 {
	--tw-text-opacity: 1;
	color: rgba(229, 231, 235, var(--tw-text-opacity));
}
.text-gray-800 {
	--tw-text-opacity: 1;
	color: rgba(31, 41, 55, var(--tw-text-opacity));
}
.text-gray-900 {
	--tw-text-opacity: 1;
	color: rgba(17, 24, 39, var(--tw-text-opacity));
}
.text-gray-500 {
	--tw-text-opacity: 1;
	color: rgba(107, 114, 128, var(--tw-text-opacity));
}
.text-gray-600 {
	--tw-text-opacity: 1;
	color: rgba(75, 85, 99, var(--tw-text-opacity));
}
.text-indigo-600 {
	--tw-text-opacity: 1;
	color: rgba(79, 70, 229, var(--tw-text-opacity));
}
.text-indigo-500 {
	--tw-text-opacity: 1;
	color: rgba(99, 102, 241, var(--tw-text-opacity));
}
.text-red-400 {
	--tw-text-opacity: 1;
	color: rgba(248, 113, 113, var(--tw-text-opacity));
}
.text-blue-600 {
	--tw-text-opacity: 1;
	color: rgba(37, 99, 235, var(--tw-text-opacity));
}
.placeholder-gray-400::-moz-placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(156, 163, 175, var(--tw-placeholder-opacity));
}
.placeholder-gray-400:-ms-input-placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(156, 163, 175, var(--tw-placeholder-opacity));
}
.placeholder-gray-400::placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(156, 163, 175, var(--tw-placeholder-opacity));
}
.placeholder-gray-500::-moz-placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(107, 114, 128, var(--tw-placeholder-opacity));
}
.placeholder-gray-500:-ms-input-placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(107, 114, 128, var(--tw-placeholder-opacity));
}
.placeholder-gray-500::placeholder {
	--tw-placeholder-opacity: 1;
	color: rgba(107, 114, 128, var(--tw-placeholder-opacity));
}
.opacity-75 {
	opacity: 0.75;
}
.opacity-25 {
	opacity: 0.25;
}
.shadow-2xl {
	--tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-sm {
	--tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-md {
	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow {
	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-lg {
	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.transition {
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
.transition-colors {
	transition-property: background-color, border-color, color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
.transition-shadow {
	transition-property: box-shadow;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
.duration-150 {
	transition-duration: 150ms;
}
.duration-200 {
	transition-duration: 200ms;
}
.duration-300 {
	transition-duration: 300ms;
}
.ease-in-out {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* custom CSS goes here */
/* Directive controlling where Tailwind injects responsive variations of utilities.
   By default Tailwind normally append these at the end of your stylesheet. */
.hover\:-translate-y-2:hover {
	--tw-translate-y: -0.5rem;
	transform: var(--tw-transform);
}
.hover\:border-white:hover {
	--tw-border-opacity: 1;
	border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.hover\:border-transparent:hover {
	border-color: transparent;
}
.hover\:bg-indigo-50:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(238, 242, 255, var(--tw-bg-opacity));
}
.hover\:bg-purple-700:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(109, 40, 217, var(--tw-bg-opacity));
}
.hover\:bg-white:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.hover\:bg-gray-200:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}
.hover\:bg-indigo-700:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(67, 56, 202, var(--tw-bg-opacity));
}
.hover\:bg-blue-900:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(30, 58, 138, var(--tw-bg-opacity));
}
.hover\:text-indigo-600:hover {
	--tw-text-opacity: 1;
	color: rgba(79, 70, 229, var(--tw-text-opacity));
}
.hover\:text-white:hover {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.hover\:text-gray-800:hover {
	--tw-text-opacity: 1;
	color: rgba(31, 41, 55, var(--tw-text-opacity));
}
.hover\:text-indigo-500:hover {
	--tw-text-opacity: 1;
	color: rgba(99, 102, 241, var(--tw-text-opacity));
}
.hover\:underline:hover {
	text-decoration: underline;
}
.hover\:ring:hover {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.focus\:z-10:focus {
	z-index: 10;
}
.focus\:border-indigo-300:focus {
	--tw-border-opacity: 1;
	border-color: rgba(165, 180, 252, var(--tw-border-opacity));
}
.focus\:border-transparent:focus {
	border-color: transparent;
}
.focus\:border-indigo-500:focus {
	--tw-border-opacity: 1;
	border-color: rgba(99, 102, 241, var(--tw-border-opacity));
}
.focus\:outline-none:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
.focus\:ring-2:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.focus\:ring:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.focus\:ring-1:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.focus\:ring-purple-600:focus {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(124, 58, 237, var(--tw-ring-opacity));
}
.focus\:ring-purple-500:focus {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(139, 92, 246, var(--tw-ring-opacity));
}
.focus\:ring-indigo-500:focus {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(99, 102, 241, var(--tw-ring-opacity));
}
.focus\:ring-blue-600:focus {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(37, 99, 235, var(--tw-ring-opacity));
}
.focus\:ring-opacity-75:focus {
	--tw-ring-opacity: 0.75;
}
.focus\:ring-offset-2:focus {
	--tw-ring-offset-width: 2px;
}
.focus\:ring-offset-purple-200:focus {
	--tw-ring-offset-color: #ddd6fe;
}
.disabled\:opacity-30:disabled {
	opacity: 0.3;
}
.group:hover .group-hover\:text-indigo-400 {
	--tw-text-opacity: 1;
	color: rgba(129, 140, 248, var(--tw-text-opacity));
}
@media (min-width: 640px) {
	.sm\:mx-auto {
		margin-left: auto;
		margin-right: auto;
	}
	.sm\:mr-6 {
		margin-right: 1.5rem;
	}
	.sm\:block {
		display: block;
	}
	.sm\:w-full {
		width: 100%;
	}
	.sm\:w-1\/3 {
		width: 33.333333%;
	}
	.sm\:max-w-xl {
		max-width: 36rem;
	}
	.sm\:max-w-sm {
		max-width: 24rem;
	}
	.sm\:max-w-md {
		max-width: 28rem;
	}
	.sm\:grid-cols-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.sm\:rounded-lg {
		border-radius: 0.5rem;
	}
	.sm\:px-6 {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	.sm\:px-10 {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
	.sm\:pt-12 {
		padding-top: 3rem;
	}
	.sm\:text-center {
		text-align: center;
	}
	.sm\:text-4xl {
		font-size: 2.25rem;
		line-height: 2.5rem;
	}
	.sm\:text-sm {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
	.sm\:leading-tight {
		line-height: 1.25;
	}
}
@media (min-width: 768px) {
	.md\:mx-auto {
		margin-left: auto;
		margin-right: auto;
	}
	.md\:mb-12 {
		margin-bottom: 3rem;
	}
	.md\:w-full {
		width: 100%;
	}
	.md\:w-auto {
		width: auto;
	}
	.md\:w-3\/4 {
		width: 75%;
	}
	.md\:w-1\/3 {
		width: 33.333333%;
	}
	.md\:max-w-2xl {
		max-width: 42rem;
	}
	.md\:max-w-full {
		max-width: 100%;
	}
	.md\:grid-cols-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.md\:flex-row {
		flex-direction: row;
	}
	.md\:space-x-3 > :not([hidden]) ~ :not([hidden]) {
		--tw-space-x-reverse: 0;
		margin-right: calc(0.75rem * var(--tw-space-x-reverse));
		margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
	}
	.md\:space-y-0 > :not([hidden]) ~ :not([hidden]) {
		--tw-space-y-reverse: 0;
		margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(0px * var(--tw-space-y-reverse));
	}
	.md\:divide-x > :not([hidden]) ~ :not([hidden]) {
		--tw-divide-x-reverse: 0;
		border-right-width: calc(1px * var(--tw-divide-x-reverse));
		border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
	}
	.md\:px-24 {
		padding-left: 6rem;
		padding-right: 6rem;
	}
	.md\:py-0 {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.md\:px-6 {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	.md\:pb-0 {
		padding-bottom: 0px;
	}
	.md\:pt-12 {
		padding-top: 3rem;
	}
	.md\:text-5xl {
		font-size: 3rem;
		line-height: 1;
	}
	.md\:text-lg {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}
	.md\:text-4xl {
		font-size: 2.25rem;
		line-height: 2.5rem;
	}
}
@media (min-width: 1024px) {
	.lg\:absolute {
		position: absolute;
	}
	.lg\:my-0 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.lg\:mb-0 {
		margin-bottom: 0px;
	}
	.lg\:mt-6 {
		margin-top: 1.5rem;
	}
	.lg\:-mb-12 {
		margin-bottom: -3rem;
	}
	.lg\:mt-0 {
		margin-top: 0px;
	}
	.lg\:-ml-28 {
		margin-left: -7rem;
	}
	.lg\:-mt-10 {
		margin-top: -2.5rem;
	}
	.lg\:block {
		display: block;
	}
	.lg\:inline-block {
		display: inline-block;
	}
	.lg\:flex {
		display: flex;
	}
	.lg\:hidden {
		display: none;
	}
	.lg\:h-full {
		height: 100%;
	}
	.lg\:w-auto {
		width: auto;
	}
	.lg\:w-1\/2 {
		width: 50%;
	}
	.lg\:w-32 {
		width: 8rem;
	}
	.lg\:w-1\/3 {
		width: 33.333333%;
	}
	.lg\:max-w-lg {
		max-width: 32rem;
	}
	.lg\:max-w-screen-xl {
		max-width: 1280px;
	}
	.lg\:max-w-2xl {
		max-width: 42rem;
	}
	.lg\:max-w-full {
		max-width: 100%;
	}
	.lg\:flex-grow {
		flex-grow: 1;
	}
	.lg\:grid-cols-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.lg\:flex-row {
		flex-direction: row;
	}
	.lg\:items-center {
		align-items: center;
	}
	.lg\:p-16 {
		padding: 4rem;
	}
	.lg\:px-12 {
		padding-left: 3rem;
		padding-right: 3rem;
	}
	.lg\:py-12 {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	.lg\:px-8 {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.lg\:py-20 {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	.lg\:pl-10 {
		padding-left: 2.5rem;
	}
	.lg\:text-left {
		text-align: left;
	}
}
@media (min-width: 1280px) {
	.xl\:mb-0 {
		margin-bottom: 0px;
	}
	.xl\:inline {
		display: inline;
	}
	.xl\:max-w-md {
		max-width: 28rem;
	}
	.xl\:text-4xl {
		font-size: 2.25rem;
		line-height: 2.5rem;
	}
	.xl\:text-base {
		font-size: 1rem;
		line-height: 1.5rem;
	}
	.xl\:tracking-wider {
		letter-spacing: 0.05em;
	}
}